@font-face {
    font-family: "Roboto";
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "PatuaOne";
    src: url('../fonts/PatuaOne-Regular.ttf');
}

@font-face {
    font-family: "Questrial";
    src: url('../fonts/Questrial-Regular.ttf');
}

@font-face {
    font-family: "Quicksand";
    src: url('../fonts/Quicksand-Regular.ttf');
}


@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../fonts/Montserrat-SemiBold.ttf');
}
